@charset 'UTF-8';
/* 공통 */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  word-break: keep-all;
  color: #444;
  line-height: 1.3;
}
legend,
b,
strong {
  font-weight: 500;
}
span.material-icons {
  font-size: inherit;
}
span.pipe {
  padding: 0 0.3em;
}
/* 헤딩 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.5em auto;
}
/* 링크 */
a {
  text-decoration: none;
  transition: 0.5s;
}
a:link,
a:visited {
  color: #39f;
}
a:link span.material-icons,
a:visited span.material-icons {
  color: #444;
}
a:hover {
  color: #0bf !important;
  text-decoration: underline;
}
a:hover > span.material-icons {
  color: inherit !important;
}
/* 레이아웃 */
div#layout {
  display: grid;
  overflow: hidden;
  height: 100vh;
/* 사이드바 */
/* 콘텐츠 */
}
@media (min-width: 48em) {
  div#layout {
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;
  }
}
/* 사이드바 */
div#layout div#sidebar {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  color: #fff;
}
div#layout div#sidebar > div {
  margin-left: 1em;
  margin-right: 1em;
}
@media (min-width: 80em) {
  div#layout div#sidebar > div {
    margin-left: 2em;
    margin-right: 2em;
  }
}
div#layout div#sidebar div#sidebar-contents {
  display: flex;
  align-items: center;
  margin: 1em;
}
@media (min-width: 48em) {
  div#layout div#sidebar div#sidebar-contents {
    text-align: center;
    margin-top: 20%;
    flex-wrap: wrap;
  }
  div#layout div#sidebar div#sidebar-contents > div,
  div#layout div#sidebar div#sidebar-contents h1 {
    flex-basis: 100%;
  }
}
div#layout div#sidebar div#sidebar-contents div#blog-profile img {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 3em;
  height: auto;
}
@media (min-width: 48em) {
  div#layout div#sidebar div#sidebar-contents div#blog-profile img {
    width: 80%;
    max-width: 250px;
    border-width: 5px;
  }
}
div#layout div#sidebar div#sidebar-contents h1#blog-title {
  font-size: 1.5em;
  margin: 0 auto 0 0.5em;
}
@media (min-width: 48em) {
  div#layout div#sidebar div#sidebar-contents h1#blog-title {
    margin: 1em 0 0;
  }
}
div#layout div#sidebar div#sidebar-contents h1#blog-title > a {
  color: #fff;
}
div#layout div#sidebar div#sidebar-contents h1#blog-title > a:hover {
  color: #fff !important;
}
div#layout div#sidebar div#sidebar-contents div#blog-mobilenav {
  color: #fff;
  font-size: 0.9em;
}
@media (min-width: 48em) {
  div#layout div#sidebar div#sidebar-contents div#blog-mobilenav {
    display: none;
  }
}
div#layout div#sidebar div#sidebar-contents div#blog-mobilenav input#mobilenav-check {
  display: none;
}
div#layout div#sidebar div#sidebar-contents div#blog-mobilenav label#mobilenav-button {
  background-color: #000;
  color: #fff;
}
div#layout div#sidebar div#blog-tagline {
  display: none;
  text-align: center;
  margin-top: 0.5em;
}
@media (min-width: 48em) {
  div#layout div#sidebar div#blog-tagline {
    display: block;
  }
}
div#layout div#sidebar div#blog-nav {
  text-align: center;
  height: 0;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}
@media (min-width: 48em) {
  div#layout div#sidebar div#blog-nav {
    height: auto;
    visibility: visible;
    opacity: 1;
  }
}
div#layout div#sidebar div#blog-nav.nav-on {
  height: auto;
  visibility: visible;
  opacity: 1;
}
div#layout div#sidebar div#blog-nav ul {
  list-style: none inside;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
div#layout div#sidebar div#blog-nav ul li {
  display: block;
  flex: 1 1 50%;
}
@media (min-width: 48em) {
  div#layout div#sidebar div#blog-nav ul li {
    flex: 1 1 80%;
    margin: 0 auto;
  }
}
@media (min-width: 80em) {
  div#layout div#sidebar div#blog-nav ul li {
    flex: 1 1 50%;
    margin: 0 auto;
  }
}
div#layout div#sidebar div#blog-nav ul li a {
  display: block;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 0.5em 1em;
  color: #fff;
  margin: 0 0.3em 0.8em;
}
div#layout div#sidebar div#blog-nav ul li a:hover {
  color: #fff !important;
}
div#layout div#sidebar div#blog-nav form#search-box input {
  margin: 0 auto 1em;
}
div#layout div#sidebar div#blog-nav form#search-box input::placeholder {
  font-family: 'Material Icons', 'Noto Sans KR';
}
/* 콘텐츠 */
div#layout div#content {
  padding: 1em;
  overflow-y: scroll;
/* 페이지 */
/* 글 */
/* 페이징 */
/* 푸터 */
}
div#layout div#content span.material-icons {
  margin-right: 0.2em;
}
/* 페이지 */
div#layout div#content div.page {
  max-width: 1080px;
}
div#layout div#content div.page h2.page-title {
  font-size: 2em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ccc;
}
div#layout div#content div#search ul#search-result {
  list-style: none inside;
  padding-left: 0;
}
div#layout div#content div#search ul#search-result li.search-item {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
}
div#layout div#content div#search ul#search-result li.search-item span.article-comments {
  font-size: 0.8em;
  margin-left: 0.1em;
}
div#layout div#content div#taglog {
  padding-bottom: 1em;
}
div#layout div#content div#taglog a.taglog-link {
  color: #444;
  display: inline-block;
  margin-right: 0.3em;
}
div#layout div#content div#taglog a.taglog-link:before {
  content: '#';
}
div#layout div#content div#taglog a.taglog-link.cloud4 {
  font-size: 1.1em;
}
div#layout div#content div#taglog a.taglog-link.cloud3 {
  font-size: 1.2em;
}
div#layout div#content div#taglog a.taglog-link.cloud2 {
  font-size: 1.3em;
}
div#layout div#content div#taglog a.taglog-link.cloud1 {
  font-size: 1.4em;
  font-weight: 500;
}
div#layout div#content div#guestbook div#guestbook-form input::placeholder,
div#layout div#content div#guestbook div#guestbook-form textarea::placeholder {
  font-family: 'Material Icons', 'Noto Sans KR';
}
@media (min-width: 48em) {
  div#layout div#content div#guestbook div#guestbook-form div#guestbook-person {
    display: flex;
  }
  div#layout div#content div#guestbook div#guestbook-form div#guestbook-person #guestbook-password {
    margin: 0 0.5em;
  }
}
div#layout div#content div#guestbook div#guestbook-form div#guestbook-button {
  text-align: right;
  font-size: 0.9em;
}
div#layout div#content div#guestbook ol.guestbook-list {
  list-style: none inside;
  padding-left: 0;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item {
  background-color: #fcfcfc;
  border: 1px solid #eee;
  padding: 1em;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item ol.guestbook-sublist {
  padding: 1em 0 0 1em;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item ol.guestbook-sublist li.guestbook-subitem {
  background-color: #fafafa;
  border: 1px solid #eaeaea;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item div.guestbook-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item div.guestbook-meta span.guestbook-name {
  font-weight: 500;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item div.guestbook-meta div.guestbook-control {
  text-align: right;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item div.guestbook-meta div.guestbook-control a {
  color: #444;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
  display: inline-block;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item div.guestbook-meta div.guestbook-control a.guestbook-reply {
  margin-left: 0.3em;
}
div#layout div#content div#guestbook ol.guestbook-list li.guestbook-item p.guestbook-text {
  border-top: 1px solid #eee;
  padding-top: 1em;
}
/* 글 */
div#layout div#content div.article {
  max-width: 1080px;
}
div#layout div#content div.article h2.article-title {
  font-weight: 500;
}
div#layout div#content div.article h2.article-title a {
  color: #444;
}
div#layout div#content div.article div.article-meta a {
  color: #444;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
div#layout div#content div.article div.article-content {
  padding: 1em 0 2em;
  border-bottom: 1px solid #ccc;
}
div#layout div#content div.article div.article-content blockquote {
  border-left: 5px solid #ccc;
  margin-left: 0;
  padding-left: 1em;
}
div#layout div#content div.article div.article-content table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
div#layout div#content div.article div.article-content table th {
  background-color: #ccc;
}
div#layout div#content div.article div.article-content table td,
div#layout div#content div.article div.article-content table th {
  padding: 0.5em 1em;
  border: 1px solid #cbcbcb;
}
div#layout div#content div.article div.article-content div.another_category h4 {
  font-size: 0.9em !important;
}
div#layout div#content div.article div.article-content div.another_category h4 > a {
  font-weight: 500 !important;
}
div#layout div#content div.article div.article-content div.another_category table {
  border: 0;
}
div#layout div#content div.article div.article-content div.another_category th {
  font-size: 0.8em !important;
  border: 0;
  background-color: transparent;
}
div#layout div#content div.article div.article-content div.another_category td {
  border: 0;
}
div#layout div#content div.article div.article-content button.btn_more,
div#layout div#content div.article div.article-content button.btn_less {
  cursor: pointer;
}
div#layout div#content div.article-protected form.article-password {
  text-align: center;
}
div#layout div#content div.article-protected form.article-password legend {
  margin: 0 auto;
  width: 80%;
}
div#layout div#content div.article-protected form.article-password input {
  margin: 0.5em auto;
}
div#layout div#content div.article-protected form.article-password input::placeholder {
  font-family: 'Material Icons', 'Noto Sans KR';
}
div#layout div#content div.article-protected form.article-password button {
  font-size: 0.9em;
}
div#layout div#content div.article-menu {
  font-size: 0.9em;
  margin-top: 0.5em;
  text-align: right;
}
div#layout div#content div.article-menu a {
  color: #444;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
div#layout div#content div.article-tag {
  padding-top: 1em;
}
div#layout div#content div.article-tag a {
  color: #444;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
  display: inline-block;
}
div#layout div#content div.article-tag a:before {
  content: '#';
}
div#layout div#content div.article-comment {
  padding-top: 1em;
}
div#layout div#content div.article-comment div.comment-count {
  text-align: right;
}
div#layout div#content div.article-comment div.comment-count a.comment-counts {
  color: #444;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
div#layout div#content div.article-comment ol.comment-list {
  list-style: none inside;
  padding-left: 0;
}
div#layout div#content div.article-comment ol.comment-list li.comment-item {
  background-color: #fcfcfc;
  border: 1px solid #eee;
  padding: 1em;
}
div#layout div#content div.article-comment ol.comment-list li.comment-item span.comment-name {
  font-weight: 500;
}
div#layout div#content div.article-comment ol.comment-list li.comment-item div.comment-meta {
  display: flex;
  justify-content: space-between;
}
div#layout div#content div.article-comment ol.comment-list li.comment-item div.comment-control {
  text-align: right;
}
div#layout div#content div.article-comment ol.comment-list li.comment-item div.comment-control > a {
  color: #444;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.3em;
}
div#layout div#content div.article-comment ol.comment-list li.comment-item ol.comment-sublist {
  padding: 1em 0 0 1em;
}
div#layout div#content div.article-comment ol.comment-list li.comment-item ol.comment-sublist li.comment-subitem {
  background-color: #fafafa;
  border: 1px solid #eaeaea;
}
@media (min-width: 48em) {
  div#layout div#content div.article-comment div.comment-form div.comment-person {
    display: flex;
  }
  div#layout div#content div.article-comment div.comment-form div.comment-person div.comment-password {
    margin: 0 0.5em;
  }
}
div#layout div#content div.article-comment div.comment-form input::placeholder,
div#layout div#content div.article-comment div.comment-form textarea::placeholder {
  font-family: 'Material Icons', 'Noto Sans KR';
}
div#layout div#content div.article-comment div.comment-form div.comment-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div#layout div#content div.article-comment div.comment-form div.comment-buttons div.comment-button {
  text-align: right;
  font-size: 0.9em;
}
div#layout div#content div.article-comment div.comment-form div.comment-buttons input.comment-secret-checkbox {
  display: none;
}
div#layout div#content div.article-comment div.comment-form div.comment-buttons input.comment-secret-checkbox:checked + label.comment-secret:before {
  content: 'lock';
}
div#layout div#content div.article-comment div.comment-form div.comment-buttons input.comment-secret-checkbox:checked + label.comment-secret:after {
  content: '';
}
div#layout div#content div.article-comment div.comment-form div.comment-buttons label.comment-secret {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.1em;
}
div#layout div#content div.article-comment div.comment-form div.comment-buttons label.comment-secret:before {
  font-family: 'Material Icons', 'Noto Sans KR';
  content: 'lock_open';
}
div#layout div#content div.article-comment div.comment-form div.comment-buttons label.comment-secret:after {
  content: '로 작성할까요?';
}
/* 페이징 */
div#layout div#content div#paging {
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid #ccc;
  max-width: 1080px;
}
div#layout div#content div#paging span.numbox a.num {
  display: inline-block;
  margin: 0 0.3em;
}
div#layout div#content div#paging a,
div#layout div#content div#paging a.no-more-prev,
div#layout div#content div#paging a.no-more-next {
  color: #444;
}
div#layout div#content div#paging a:link {
  color: #39f;
}
div#layout div#content div#paging span.selected {
  font-weight: 500;
}
/* 푸터 */
div#layout div#content div#footer {
  text-align: center;
  font-size: 0.8em;
  border-top: 1px dotted #ccc;
  padding: 1.5em 0 3em;
  max-width: 1080px;
}
@media (min-width: 48em) {
  div#layout div#content div#footer {
    display: flex;
    justify-content: space-between;
  }
  div#layout div#content div#footer div#copyright1 {
    text-align: left;
  }
  div#layout div#content div#footer div#copyright2 {
    text-align: right;
    margin-top: 0 !important;
  }
}
div#layout div#content div#footer a {
  color: #444;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
div#layout div#content div#footer div#copyright2 {
  margin-top: 0.5em;
}
